<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% extends "auther/base.html" %}
{% block content %}
    <div style="padding-left:16px">
  
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %} 

    <section>
        <h1 class="h1">Welcome to invoice</h1>
        {% if user.is_authenticated %}
            <h3 class="h3"> Hello {{ fname }} </h3>
            <h4 class="h4"> You're successfully logged in</h4>
            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/sample"><span>Sample Templates</span></a>
            </button>
            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/generateinvoice"><span>Generate Invoice</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/company"><span>Add data of Company</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
            <a href="/org"><span>Add data of org</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/invoice"><span>Invoice form</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/item"><span>Item form</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/templatefields"><span>Templatefields form</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/bank"><span>Bank form</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/template"><span>Templates form</span></a>
            </button>

            <button class ="button" type="submit" style="vertical-align:middle">
                {% with table_name="auther_template" app_name="auther" model_name="template" %}
                 <a href="{% url 'show_template' table_name app_name model_name %}">ur templates</a>
                {% endwith %}
            </button>
            <button class ="button" type="submit" style="vertical-align:middle">
              {% with table_name="auther_bank" app_name="auther" model_name="bank" %}
               <a href="{% url 'show_template' table_name app_name model_name %}">Bank details</a>
              {% endwith %}
          </button>

        {% else %}
            <button class ="button" type="submit" style="vertical-align:middle">
                <a href="/sample"><span>View Sample Templates</span></a>
            </button>

        {% endif %}   
    </section>

{% endblock %}

</body>
</html> 

